version: "3.9"

services:
  server:
    build:
      context: /app
      dockerfile: Dockerfile
    container_name: server
    environment:
      PORT: 3000
    expose:
      - "3000"
    networks:
      - app_net
    volumes:
      - data:/data
    ports:
      - "3000:3000"
volumes:
  data:

networks:
  app_net:
    driver: bridge
