name: Build & Push Docker image to ACR

on:
  push:
    branches:
      - main
  workflow_dispatch:

env:
  ACR_LOGIN_SERVER: m324demoacrqba.azurecr.io
  IMAGE_NAME: notes-backend

jobs:
  build-docker:
    runs-on: ubuntu-latest
    environment: ACR

    steps:
      - name: Check out Git repository
        uses: actions/checkout@v4

      - name: Build Docker image
        run: docker build -t ${{ env.IMAGE_NAME }} -f ./app/Dockerfile ./app

      - name: Login ACR
        uses: azure/docker-login@v2
        with:
          login-server: ${{ env.ACR_LOGIN_SERVER }}
          username: ${{ secrets.ACR_USERNAME }}
          password: ${{ secrets.ACR_PASSWORD }}

      - name: Tag & Push Docker image to ACR
        run: |
          docker tag ${{ env.IMAGE_NAME }}:latest ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:latest
          docker push ${{ env.ACR_LOGIN_SERVER }}/${{ env.IMAGE_NAME }}:latest
